.edit_modal{
    background-color:  white;
    color: #00000099;
    width: 650px;
    margin: 0 auto;
    border-radius: 10px;
    border: .5px solid lightgray;
    font-family: sans-serif;
}

.edit_header{
    display: flex;
    padding: 24px;
    justify-content: space-between;
    font-size: 1.2rem;
    color: black;
    padding-bottom: 24px;
    border-bottom: 0.2px solid lightgray;

}

.exit-edit{
    color:  #00000099;
}

.name_input{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.first_name_input, 
.last_name_input{
    display: flex;
    flex-direction: column;
    width: 310px;
}

.pronouns{
    display: flex;
    flex-direction: column;
}

.pronouns > p{
    font-size: 12px;
}

.exit-edit{
    cursor: pointer;
}

.pronouns, 
.headline, 
.position, 
.pick_edu, 
.country,
.postal_code,
.industry, 
.location{
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.postal_sec{
    display: flex;
    justify-content: space-between;
}

.postal_code, 
.location{
    width: 350px;
}
