.edu_modal{
    background-color:  white;
    color: #00000099;
    width: 650px;
    margin: 0 auto;
    margin-top: -50px;
    border-radius: 10px;
    border: .5px solid lightgray;
    font-family: sans-serif;

}

.edu_header{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: black;
    padding-bottom: 24px;
    border-bottom: 0.2px solid lightgray;
    padding: 24px;
}

.exit_edit{
    color:  #00000099;
}

.school_input, 
.degree, 
.field_study, 
.start, 
.end,
.gpa,
.activities, 
.description{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.description{
    border-bottom: 0.2px solid lightgray;

}

.save_button{
    display: flex;
    justify-content: right;
    margin: 15px 15px;
    color: white;
    border-radius: 20px;
    background-color: #0A66C2;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid white;
}

input{
    height: 20px;
}

.btn_container{
    margin: 0 auto;
}

.delete_btn{
    display: flex;
    justify-content: right;
    margin: 15px 15px;
    color: #00000099;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #00000099;
    cursor: pointer;
}

.profile_buttons{
    display: flex;
    justify-content: space-between;
    
}

.save_button{
    cursor: pointer;
}

.education-errors{
    padding-top: 10px;
    margin-bottom: -50px;
    color: #CC1016;
    align-content: center;
}