.single_experience{
    font-family: sans-serif;
    border-bottom: 0.2px solid rgb(211, 211, 211);
    padding-bottom: 15px;
    padding-top: 15px;
    color: #000000E6;
}

.singleExperience{
    display: flex;
    flex-direction: row;
}

.experience_image{
    padding-right: 25px;
}

.avatar_experience{
    height: 56px;
    width: 56px;
}

.experience_info > h2{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 6px;
    width: 650px;
}

.experience_info > p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 6px;
}

.edit_experience{
    color: #00000099;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

.year_loc{
    color: #00000099;
    font-weight: lighter;
}