.signin_banner{
    display: flex;
    height: 700px;
    font-family: sans-serif;
}

.hero_image, 
.banner_form{
    flex-basis: 100%;
    margin: 20px;
    padding: 20px;
}

.main_form{
    display: flex;
    width: 450px;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5;
    font-weight: 400;
    border-radius: 8px;
    line-height: 1.5;
    font-size: 1rem;
}

.login_button{
    padding: 0 25px;
    height: 45px;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 10px;
    cursor: pointer;
}

.banner_form > h1{
    font-size: 4.5rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: #0A66C3;
}

.main_form > p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main_form > input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 12px;
}

.main_form > p:hover{
    color: #0A66C3;
    text-decoration: underline;
    cursor: pointer;
}

.info_banner{
    background-color: #faf9f7;
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
}

.info_banner > img{
    width: 400px;
    padding-left: 75px;
}

.banner_title{
    padding-top: 50px;
    font-size: 3rem;
    font-weight: 100;
    color: #2977c9;
}

.banner_body{
    font-weight: 100;
    font-size: 2rem;
    padding-top: 30px;
    color: rgba(0,0,0,0.9);
}

.create_image{
    width: 100%;
    position:absolute;
}

.signup_banner > div{
    margin-top: 70px;
    position: absolute;
    z-index: 5;
    margin-left: 175px;

    p{
        font-weight: 100;
        font-size: 40px;
        width: 900px;
        font-family: sans-serif;
        padding-bottom: 40px;
        color: rgba(0,0,0,0.8);
        line-height: 1.5;
        
    }
}

#home_nav{
    position: relative;
}
