.signin_banner{
    display: flex;
    height: 700px;
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

.home-page{
    height: 100vh;
    width: 100vw;
}

.hero_image{
    z-index: 0;
}

.banner_form{
    z-index: 1;
}

.hero_image, 
.banner_form{
    flex-basis: 100%;
    margin: 20px 15px;
    padding: 15px;
}

.main_form{
    display: flex;
    width: 450px;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5;
    font-weight: 400;
    border-radius: 8px;
    line-height: 1.5;
    font-size: 1rem;
}

.login_button{
    padding: 0 25px;
    height: 45px;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 10px;
    cursor: pointer;
}

.login_demo_button{
    padding: 0 25px;
    height: 45px;
    border: 1px solid rgba(0,0,0,0.6);;
    border-radius: 30px;
    color: rgba(0,0,0,0.6);;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 10px;
    cursor: pointer;
    background-color: white;
}

.banner_form > h1{
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 20px;
    color: #0A66C3;
}

.main_form > p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main_form > input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 44px;
    font-size: 12px;
}

.main_form > p:hover{
    color: #0A66C3;
    text-decoration: underline;
    cursor: pointer;
}

.info_banner{
    background-color: #faf9f7;
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: sans-serif;
}

.info_banner > img{
    width: 400px;
    padding-left: 75px;
}

.banner_title{
    padding-top: 50px;
    font-size: 3rem;
    font-weight: 100;
    color: #2977c9;
}

.banner_body{
    font-weight: 100;
    font-size: 2rem;
    padding-top: 30px;
    color: rgba(0,0,0,0.9);
}

.create_image{
    width: 100%;
    position:relative;
}

.signup_banner > div{
    margin-top: 70px;
    position: absolute;
    z-index: 5;
    margin-left: 175px;

    p{
        font-weight: 100;
        font-size: 40px;
        width: 900px;
        font-family: sans-serif;
        padding-bottom: 40px;
        color: rgba(0,0,0,0.8);
        line-height: 1.5;
        
    }
}

#home_nav{
    position: relative;
    border: none;
}


.errors_main{
    padding-bottom: 2px;
}

.error_main{
    color: #d11124;
    font-weight: 600;
}

#get_started_link{
    text-decoration: none;
    color: white;
}

.navbar-home{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 5px;
    z-index: 100;
    background-color: white;
    font-family: sans-serif;
    justify-content: center;
}

.header-home{
    display: flex;
    width: 80%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}