.navbar{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 5px;
    z-index: 100;
    background-color: white;
    font-family: sans-serif;
}

.header{
    display: flex;
    width: 100%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.nav-search{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
    width: 300px;
}

.nav-search > input{
    outline: none;
    border: none;
    background: none;
}

.navbar-icons{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    color: #00000099;
    align-items: center;
    float: right;
    padding: 5px 0;
    font-size: 28px;
}

.navbar-icon{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-decoration: none;
    align-items: center;
}

.single-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 40px;
    color: gray;
}

.single-icon:hover{
    color: black;
}

.right-nav, 
.left-nav{
    min-height: 52px;
    flex-basis: 100%;
}

.left-nav{
    display: flex;
}

#sign_in {
    border: 0;
    border: 1px solid #0A66C2;
    border-radius: 30px;
    overflow: hidden;
    outline-width: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #0A66C2;
    margin-left: 20px;
    padding: 0 16px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}

#join{
    line-height: 32px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #00000099;
}

.logo{
    object-fit: contain;
    height: 45px;
    margin-right: 10px;
}

.main_logo{
    object-fit: contain;
    height: 45px;
    margin-right: 10px;
}

.title{
    font-size: 12px;
    font-weight: 350;
}

#logout_button{
    border: 0;
    border: 2px solid #2867B2;
    border-radius: 30px;
    outline-width: 2px;
    padding: 0 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    vertical-align: middle;
    color: #2867B2;
    margin-left: 20px;
    padding: 0 25px;
    height: 45px;
    flex-direction: row;
}

.dropdown_menu{
    background: white;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    color: gray;
    font-size: 12px;
    font-weight: 350;
}

.view_profile{
    background-color: white;
    color: #0A66C2;
    border-radius: 15px;
    border: 2px solid #0A66C2;
    font-style: bold;
    padding: 5px;
    width: 200px;
    text-align: center;
}

.view_profile:hover{
    background-color: rgb(207, 226, 232);
    border: 3px solid #0A66C2;
}

.show_dropdown{
    display: block;
    background-color: white;
    position: absolute;
    width: 270px;
    top: 75px;
    right: 50px;
    font-size: 15px;

}

.clear{
    display: none;
}

.view_profile{
    margin: 0 auto;
}

.view_profile, 
.sign_out{
    margin-top: 15px;
}

.view_btn{
    text-decoration: none;
    color: #0A66C2;
}

.sign_out{
    border-top: 0.2px solid lightgray;
    padding: 15px;
}

.menu_avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.avatar_dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#single-icon,
#network{
    text-decoration: none;
    color: gray;
    align-items: center;
}

#single-icon:hover,
#network:hover{
    color: black;
}

.dropdown_pic{
    display: flex;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.dropdown-name{
    padding-left: 10px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 30px;
}

.dropdown-avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

@media screen and (max-width: 1484px){
    .header{
        margin-left: 13%;
        margin-right: 13%;
    }
}

@media screen and (max-width: 1410px){
    .header{
        margin-left: 12%;
        margin-right: 12%;
    }
}