.feed{
    background-color: #f3f2ef;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 2px;
    position: relative;
    height: 100%;
    padding-top: 30px;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding-left: 15%;
    padding-right: 15%;
}

.post-container{
    background-color:  white;
    color: #00000099;
    max-width: 493px;
    min-width: 450px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    border: .5px solid lightgray;
}

.posting-button{
    margin-bottom: 15px;
    width: 420px;
    height: 50px;
    border: .5px solid rgb(186, 186, 186);
    border-radius: 40px;
    background-color: white;
    margin-left: 15px;
    cursor: pointer;
    text-align: left;
    padding-left: 30px;
    font-weight: 520;
    color: #00000099;  
}

.post-icons{
    display: flex;
    justify-content: space-evenly;
}

.post-icon{
    display: flex;
    font-size: 1.3rem;
}

.post-icon > p{
    padding-right: 8px;
}

.post-icon:hover{
    background-color: lightgray;
    cursor: pointer;

}

.photo-icon{
    color: rgb(112, 181, 249);
}

.video-icon{
    color: rgb(127, 193, 94);
}

.event-icon{
    color: rgb(231, 163, 62);
}

.article-icon{
    color: rgb(252, 146, 149);
}

.posting-button:hover{
    background-color: lightgray;
}

.button-text:hover{
    background-color: lightgray;
    .post-container > button{
    background-color: lightgray;
    }
}

.posts_feed{
     margin: 0 auto;
}

.single-post{
    margin-top: 10px;
    background-color:  white;
    color: #00000099;
    width: 493px;
    padding: 15px;
    border-radius: 10px;
    border: .5px solid lightgray;
}

.post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 2rem;
}

.post-text{
    padding: 5px;
    padding-bottom: 5px;
    margin-left: 5px;

}

.post-interactions{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 1.1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.post-interactions li{
    cursor: pointer;
}

.post-interactions li:hover {
    background: lightgray;
}

.post-image{
    max-height: 400px;
    max-width: 400px;
    padding: 10px;
}

.author-info{
    font-size: 14px;
    margin-left: 10px;
    
}

.author-name{
    color: #000000E6;
    display: flex;
}

.author-name > p{
    margin-right: 5px;
}

.created{
    margin-top: 5px;
}

.post_menu{
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
    padding-right: 15px;
}

.currentUser{
    max-width: 300px;
    min-width: 250px;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 10px;
    height: 220px;
}

.avatar-profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -45px;
    border: 2px solid white;
}

.profile-banner{
    width: 100%;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.avatar-sec{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-name{
    display: flex;
    justify-content: center;
}

.posting-header{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.posting-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.developer-img{
    height: 100px;
    border-radius: 50%;
}

.developer-info{
    max-width: 300px;
    min-width: 250px;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
    justify-content: center;
    height: 220px;
}

.developer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 50px;
}

.developer-info > p{
    text-align: right;
    padding: 5px;
}

.developer-main > p{
    text-align: center;
}

.developer-social{
    display: flex;
    flex-direction: column;
}

.developer-social-icon{
    cursor: pointer;
    font-size: 30px;
    color: #0A66C2;
}

.developer-social-icon:hover{
    color: #0a66c27b;;
}

.extra-sec-header{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

#post-dropdown > li{
    cursor: pointer;
    font-size: 16px;
    display: block;
    
}

.dropdown-button{
    cursor: pointer;
    float: right;
}

.dropdown-post{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.show-dropdown{
    display: block;
    border: 1px solid lightgray;
    z-index: 1;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
    position: absolute;
    margin-right: 20px;
    margin-top: 30px;
}

.show-dropdown li{
    padding: 8px;
}

.clear{
    display: none;
}

.avatar-index{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#feed-name{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000000E6;
}

#headline-feed{
    color: #00000099;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}

.comment-container{
    margin-top: 20px;
}

.comment-count, 
.like-count{
    font-size: 12px;
    width: 75px;
    justify-content: center;
}

.comment-count{
    cursor: pointer;
    padding-top: 2px;
    padding-left: 10px;
}

.interactions{
    padding-top: 5px;
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
    border-bottom: 0.2px solid lightgray;
}

.comment-count:hover{
    text-decoration: underline;
    color: #0A66C2;
    background: rgba(0, 157, 255, 0.077);
}

.liked{
    color: #0A66C2;
}

.active-likes{
    color: #0A66C2;
    border-radius: 50%;
    background-color: #0a66c25d;
    padding: 2px;
    margin-right: 5px;
}

.like-count{
    display: flex;
    flex-direction: row;
    margin-left: -15px;
}

.likes-num{
    padding-top: 2px;
}

.mid-section{
    margin: 0 10px;
}

.post-left-side{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1690px){
    .developer-main p{
        font-size: 14px;
    }
}
