.feed{
    background-color: #f3f2ef;
    width: auto;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    border-radius: 2px;
    position: relative;
    min-height: 100vh;
    padding-top: 30px;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding-left: 180px;
    padding-right: 180px;
}

.post_container{
    background-color:  white;
    // color: rgb(75, 75, 75);
    color: #00000099;
    width: 493px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    border: .5px solid lightgray;
}

.button_text{
    position: absolute;
    margin-top: 17px;
    margin-left: 30px;
    font-weight: 520;
    cursor: pointer;
}

.posting_button{
    margin-bottom: 15px;
    width: 420px;
    height: 50px;
    border: .5px solid rgb(186, 186, 186);
    border-radius: 40px;
    background-color: white;
    margin-left: 15px;
    cursor: pointer;
    
}

.post_icons{
    display: flex;
    justify-content: space-evenly;
    // font-size: 1.1rem;
}

.post_icon{
    display: flex;
    font-size: 1.3rem;
}

.post_icon > p{
    padding-right: 8px;
}

.post_icon:hover{
    background-color: lightgray;
    cursor: pointer;

}

.photo_icon{
    color: rgb(112, 181, 249);
}

.video_icon{
    color: rgb(127, 193, 94);
}

.event_icon{
    color: rgb(231, 163, 62);
}

.article_icon{
    color: rgb(252, 146, 149);
}

.posting_button:hover{
    background-color: lightgray;
}

.button_text:hover{
    background-color: lightgray;
    .post_container > button{
    background-color: lightgray;
    }
}

.posts_feed{
     margin: 0 auto;
}

.single_post{
    margin-top: 10px;
    background-color:  white;
    color: #00000099;
    width: 493px;
    // margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    border: .5px solid lightgray;
}

.post_info{
    display: flex;
    padding: 10px;
    font-size: 2rem;

}

.post_text{
    padding: 15px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid lightgray;

}

.post_interactions{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 1.1rem;
}

.post_interactions li{
    cursor: pointer;
}

.post_interactions li:hover {
    background: lightgray;
}

.post_image{
    max-height: 400px;
    max-width: 400px;
    padding: 10px;
}

.author_info{
    font-size: 14px;
    margin-left: 10px;
    
}

.author_name{
    color: #000000E6;
    display: flex;
}

.author_name > p{
    margin-right: 5px;
}

.created{
    margin-top: 5px;
}

.post_menu{
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
    padding-right: 15px;
}

.currentUser{
    width: 300px;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 10px;
    height: 400px;

}

.avatar_profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -45px;
    border: 2px solid white;
}

.profile_banner{
    width: 100%;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.avatar_sec{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.profile_name{
    display: flex;
    justify-content: center;
    // padding-left: 30px;
}

.posting_header{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.posting_avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.courses, 
.news{
    width: 300px;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 15px;
}

.extra_sec_header{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

#news_list li::before{
    content: "\2022";  
    color: rgba(0, 0, 0, 0.6); 
    font-weight: bold; 
    padding-right: 10px;
    font-size: 20px;
}

#news_list li{
    font-size: 14px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;

}

#news_list li p{
    font-size: 12px;
    font-weight: 100;
    color: #00000099;
    padding-top: 5px;
    padding-left: 15px;

}

#course_list{
    list-style-type: decimal;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
}

#course_list li{
    font-size: 14px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;

}

#course_list li p{
    font-size: 12px;
    font-weight: 100;
    color: #00000099;
    padding-top: 8px;
}

.courses h2{
    color: #00000099;
    font-weight: 600;
    padding-top: 15px;
    cursor: pointer;
}

#post_dropdown > li{
    cursor: pointer;
    font-size: 16px;
    display: block;
    
}

.dropdown_button{
    cursor: pointer;
    float: right;
}

.dropdown_button:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(205, 203, 203);
    width: 25px;
    padding-bottom: 1px 1px;;
}

.dropdown_post{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.show-dropdown{
    display: block;
}

.clear{
    display: none;
}