.post_modal{
    background-color:  white;
    color: #00000099;
    width: 493px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    border: .5px solid lightgray;
}

.post_header{
    display: flex;
    font-size: 1.2rem;
    border-bottom: 0.5px solid lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
}

.post_body > textarea{
    padding-top: 15px;
    width: 493px;
    height: 150px;
    border: none;
    
}

textarea{
    resize: none;
}

.create_post-icons{
    display: flex;
    justify-content: space-between;
}

.attach_icons{
    display: flex;
    justify-content: space-evenly;
}

.attach_icon{
    font-size: 1.5rem;
    padding-right: 50px;
    line-height: 40px;
    cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  margin-top: 150px;
//   top: 25%;
//   left: 50%;
//   transform: translate(-50%, -50%);
  z-index: 100000;
}

.close_post, 
.create_post-icons > button{
    cursor: pointer;
}

.post_button{
        display: flex;
        padding: 0 25px;
        background: #0A66C3;
        outline: none;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: 1rem;
        font-weight: bolder;
        line-height: 40px;
        cursor: pointer;
    }

.post_button_disabled{
        display: flex;
        padding: 0 25px;
        background: lightgray;
        outline: none;
        border: none;
        border-radius: 20px;
        color: gray;
        font-size: 1rem;
        font-weight: bolder;
        line-height: 40px;
    }

.image_preview{
    max-height: 100px;
    padding: 10px;
}

#file_input{
    display: none;
}

.avatar_post{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.post_user_header{
    display: flex;
    padding: 15px;
}

.create_post_user{
    color: rgba(0, 0, 0, 0.735);
    font-size: 18px;
}

.post_button:hover{
    background-color: #053a6fe5;
}