.signin_form{
    display: flex;
    width: 350px;
    box-shadow: 0 4px 12px rgba(179, 179, 179, 0.7);
    margin: 0 auto;
    flex-direction: column;
    padding: 25px;
    line-height: 1.5;
    font-weight: 400;
    border-radius: 8px;
    line-height: 1.5;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 120px;
}
.signin_button{
    padding: 0 25px;
    height: 45px;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 15px;
}

.join_now{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo2{
    display: flex;
    padding: 25px;
}

.signin_form > h2{
    font-size: 2.5rem;
}

.join_now{
    margin-top: 25px;
}

.signin_form > p{
    padding-top: 2px;
    padding-bottom: 20px;
}

.signin_form > input{
    height: 40px;
    margin-bottom: 15px;
}

.errors{
    padding-bottom: 12px;
}

.error{
    color: #d11124;
    font-weight: 500;
}

#link_signup{
    padding-left: 5px;
    text-decoration: none;
    color:  #0A66C2;
    font-weight: bolder;
}

.signin{
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}
